body {
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    background-attachment: fixed;
    background-image: url('docs/enel.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 200px;
}

#home {
    background-image: url('docs/home.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
}

.header{
    font-size:large;

}

#searchFilterText {
    font-size: large;
}

.inputPanel {
    text-align: center;
    margin: 20px;
}

#searchInput {
    opacity: 0.9;
    font-size: larger;
    width: 60%;
}

.fieldName {
    min-width: 20%;
    display: inline-table;
}

.fieldValue{
    margin-left:20px;
    display:inline-table;
}

.shortItem {
    opacity:0.9;
    background-color: antiquewhite;
    border-radius: 10px 10px;
    margin: 5px;
    padding: 5px;
}

    .shortItem .fieldName {
        color: darkslategrey;
        margin-right: 20px;
        font-size: smaller;
    }

        .shortItem .fieldName:after {
            content: ": ";
        }

    .shortItem .fieldValue {
    }


.fullItem {
    opacity: 0.9;
    background-color: beige;
    margin: 5px;
    padding: 5px;
}

    .fullItem .fieldName {
        color: darkslategrey;
        margin-right: 20px;
        font-size: smaller;
    }

        .fullItem .fieldName:after {
            content: ": ";
        }

    .fullItem .fieldValue {
    }

.fieldLink {
    color: dodgerblue;
    cursor: pointer;
}

@media only screen and (max-aspect-ratio: 12/10) {
    body {
        font-size: 25pt;
        background-image:none;
    }

    #searchInput {
        font-size: larger;
        width: 90%;
    }

    .fieldName {
        display: table;
    }

 }
